-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: suivitech
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_assignedinterventions`
--

DROP TABLE IF EXISTS `_assignedinterventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_assignedinterventions` (
  `A` int(11) NOT NULL,
  `B` int(11) NOT NULL,
  UNIQUE KEY `_AssignedInterventions_AB_unique` (`A`,`B`),
  KEY `_AssignedInterventions_B_index` (`B`),
  CONSTRAINT `_AssignedInterventions_A_fkey` FOREIGN KEY (`A`) REFERENCES `interventions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_AssignedInterventions_B_fkey` FOREIGN KEY (`B`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_assignedinterventions`
--

LOCK TABLES `_assignedinterventions` WRITE;
/*!40000 ALTER TABLE `_assignedinterventions` DISABLE KEYS */;
INSERT INTO `_assignedinterventions` VALUES (1,6),(2,6);
/*!40000 ALTER TABLE `_assignedinterventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_assignedtasks`
--

DROP TABLE IF EXISTS `_assignedtasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_assignedtasks` (
  `A` int(11) NOT NULL,
  `B` int(11) NOT NULL,
  UNIQUE KEY `_AssignedTasks_AB_unique` (`A`,`B`),
  KEY `_AssignedTasks_B_index` (`B`),
  CONSTRAINT `_AssignedTasks_A_fkey` FOREIGN KEY (`A`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_AssignedTasks_B_fkey` FOREIGN KEY (`B`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_assignedtasks`
--

LOCK TABLES `_assignedtasks` WRITE;
/*!40000 ALTER TABLE `_assignedtasks` DISABLE KEYS */;
INSERT INTO `_assignedtasks` VALUES (13,6),(16,6),(17,6),(18,5),(18,6),(19,6),(20,5),(20,6),(21,6);
/*!40000 ALTER TABLE `_assignedtasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_meetingparticipants`
--

DROP TABLE IF EXISTS `_meetingparticipants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_meetingparticipants` (
  `A` int(11) NOT NULL,
  `B` int(11) NOT NULL,
  UNIQUE KEY `_MeetingParticipants_AB_unique` (`A`,`B`),
  KEY `_MeetingParticipants_B_index` (`B`),
  CONSTRAINT `_MeetingParticipants_A_fkey` FOREIGN KEY (`A`) REFERENCES `meetings` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_MeetingParticipants_B_fkey` FOREIGN KEY (`B`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_meetingparticipants`
--

LOCK TABLES `_meetingparticipants` WRITE;
/*!40000 ALTER TABLE `_meetingparticipants` DISABLE KEYS */;
INSERT INTO `_meetingparticipants` VALUES (1,2),(1,5),(1,6);
/*!40000 ALTER TABLE `_meetingparticipants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_squadmembers`
--

DROP TABLE IF EXISTS `_squadmembers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_squadmembers` (
  `A` int(11) NOT NULL,
  `B` int(11) NOT NULL,
  UNIQUE KEY `_SquadMembers_AB_unique` (`A`,`B`),
  KEY `_SquadMembers_B_index` (`B`),
  CONSTRAINT `_SquadMembers_A_fkey` FOREIGN KEY (`A`) REFERENCES `squads` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `_SquadMembers_B_fkey` FOREIGN KEY (`B`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_squadmembers`
--

LOCK TABLES `_squadmembers` WRITE;
/*!40000 ALTER TABLE `_squadmembers` DISABLE KEYS */;
INSERT INTO `_squadmembers` VALUES (1,2),(1,6);
/*!40000 ALTER TABLE `_squadmembers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `amortization_logs`
--

DROP TABLE IF EXISTS `amortization_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `amortization_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fixedAssetId` int(11) NOT NULL,
  `year` int(11) NOT NULL,
  `openingValue` decimal(15,3) NOT NULL,
  `depreciation` decimal(15,3) NOT NULL,
  `closingValue` decimal(15,3) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `amortization_logs_fixedAssetId_idx` (`fixedAssetId`),
  KEY `amortization_logs_tenantId_idx` (`tenantId`),
  CONSTRAINT `amortization_logs_fixedAssetId_fkey` FOREIGN KEY (`fixedAssetId`) REFERENCES `fixed_assets` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `amortization_logs_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amortization_logs`
--

LOCK TABLES `amortization_logs` WRITE;
/*!40000 ALTER TABLE `amortization_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `amortization_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) DEFAULT NULL,
  `action` enum('CREATE','UPDATE','DELETE','LOGIN','LOGOUT') NOT NULL,
  `entity` varchar(191) NOT NULL,
  `entityId` int(11) DEFAULT NULL,
  `oldValues` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`oldValues`)),
  `newValues` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`newValues`)),
  `ipAddress` varchar(191) DEFAULT NULL,
  `userAgent` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_logs_userId_fkey` (`userId`),
  KEY `audit_logs_tenantId_idx` (`tenantId`),
  CONSTRAINT `audit_logs_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `audit_logs_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=425 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `content` text NOT NULL,
  `userId` int(11) NOT NULL,
  `taskId` int(11) DEFAULT NULL,
  `interventionId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `isInternal` tinyint(1) NOT NULL DEFAULT 1,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `comments_userId_fkey` (`userId`),
  KEY `comments_taskId_fkey` (`taskId`),
  KEY `comments_interventionId_fkey` (`interventionId`),
  KEY `comments_tenantId_idx` (`tenantId`),
  CONSTRAINT `comments_interventionId_fkey` FOREIGN KEY (`interventionId`) REFERENCES `interventions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `comments_taskId_fkey` FOREIGN KEY (`taskId`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `comments_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `comments_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `address` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `logo` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `city` varchar(191) DEFAULT NULL,
  `country` varchar(191) DEFAULT NULL,
  `mf` varchar(191) DEFAULT NULL,
  `primaryColor` varchar(191) DEFAULT NULL,
  `rc` varchar(191) DEFAULT NULL,
  `website` varchar(191) DEFAULT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `companies_tenantId_idx` (`tenantId`),
  CONSTRAINT `companies_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `companies`
--

LOCK TABLES `companies` WRITE;
/*!40000 ALTER TABLE `companies` DISABLE KEYS */;
INSERT INTO `companies` VALUES (1,'Waycon M├®diterran├®e','Av. Yasser Arafat, Imm. Narjess, Sahloul 1, 4054','73 820 747','contact@waycon.com','','2026-03-24 11:57:44.632','2026-04-02 15:49:31.029','Sousse','Tunisie','992474/ZAM/000','#2563eb','B0912502007','www.waycon.com',NULL),(2,'Commune de Sousse','Sousse, Tunisie',NULL,'contact@commune-sousse.tn',NULL,'2026-03-24 11:57:44.669','2026-03-24 11:57:44.669',NULL,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `companies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_spaces`
--

DROP TABLE IF EXISTS `company_spaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_spaces` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `type` enum('BUREAU','SALLE_REUNION','PARKING','ENTREPOT','CAFETERIA','AUTRE') NOT NULL DEFAULT 'BUREAU',
  `capacity` int(11) DEFAULT NULL,
  `floor` varchar(191) DEFAULT NULL,
  `status` enum('DISPONIBLE','OCCUPE','EN_MAINTENANCE','RESERVE') NOT NULL DEFAULT 'DISPONIBLE',
  `responsable` varchar(191) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `company_spaces_siteId_idx` (`siteId`),
  KEY `company_spaces_tenantId_idx` (`tenantId`),
  CONSTRAINT `company_spaces_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `company_spaces_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_spaces`
--

LOCK TABLES `company_spaces` WRITE;
/*!40000 ALTER TABLE `company_spaces` DISABLE KEYS */;
INSERT INTO `company_spaces` VALUES (1,'Salle R├®union R201','SALLE_REUNION',15,'2├¿me','DISPONIBLE',NULL,NULL,1,'2026-06-12 11:13:34.682','2026-06-12 11:13:34.682',NULL);
/*!40000 ALTER TABLE `company_spaces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contracts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `reference` varchar(191) DEFAULT NULL,
  `clientId` int(11) NOT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) NOT NULL,
  `slaHours` int(11) NOT NULL DEFAULT 24,
  `status` enum('ACTIF','EXPIRE','SUSPENDU','EN_ATTENTE') NOT NULL DEFAULT 'ACTIF',
  `description` text DEFAULT NULL,
  `value` decimal(10,2) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `type` varchar(191) DEFAULT NULL,
  `maxHours` int(11) DEFAULT 0,
  `usedHours` double DEFAULT 0,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `contracts_reference_key` (`reference`),
  KEY `contracts_clientId_fkey` (`clientId`),
  KEY `contracts_tenantId_idx` (`tenantId`),
  CONSTRAINT `contracts_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `companies` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `contracts_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
INSERT INTO `contracts` VALUES (1,'Contrat De Maintenance','CTR-2026-001',2,'2026-01-01 00:00:00.000','2026-12-31 00:00:00.000',24,'ACTIF',NULL,NULL,'2026-03-24 11:57:45.177','2026-04-03 12:23:10.439','GOLD',0,-569.8180141666668,NULL);
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custom_roles`
--

DROP TABLE IF EXISTS `custom_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custom_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `permissions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`permissions`)),
  `tenantId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_roles_name_tenantId_key` (`name`,`tenantId`),
  KEY `custom_roles_tenantId_idx` (`tenantId`),
  CONSTRAINT `custom_roles_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custom_roles`
--

LOCK TABLES `custom_roles` WRITE;
/*!40000 ALTER TABLE `custom_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `custom_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `type` enum('RAPPORT_INTERVENTION','CONTRAT','BON_INTERVENTION','PHOTO','MANUEL','PLAN_TECHNIQUE','AUTRE') NOT NULL DEFAULT 'AUTRE',
  `url` varchar(191) NOT NULL,
  `mimeType` varchar(191) DEFAULT NULL,
  `size` int(11) DEFAULT NULL,
  `uploadedById` int(11) DEFAULT NULL,
  `taskId` int(11) DEFAULT NULL,
  `interventionId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_uploadedById_fkey` (`uploadedById`),
  KEY `documents_interventionId_fkey` (`interventionId`),
  KEY `documents_taskId_fkey` (`taskId`),
  KEY `documents_tenantId_idx` (`tenantId`),
  CONSTRAINT `documents_interventionId_fkey` FOREIGN KEY (`interventionId`) REFERENCES `interventions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `documents_taskId_fkey` FOREIGN KEY (`taskId`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `documents_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `documents_uploadedById_fkey` FOREIGN KEY (`uploadedById`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `brand` varchar(191) DEFAULT NULL,
  `model` varchar(191) DEFAULT NULL,
  `serialNumber` varchar(191) DEFAULT NULL,
  `qrCode` varchar(191) DEFAULT NULL,
  `status` enum('OPERATIONNEL','EN_MAINTENANCE','HORS_SERVICE','EN_ATTENTE_PIECE') NOT NULL DEFAULT 'OPERATIONNEL',
  `siteId` int(11) NOT NULL,
  `installDate` datetime(3) DEFAULT NULL,
  `warrantyEnd` datetime(3) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `equipment_qrCode_key` (`qrCode`),
  KEY `equipment_siteId_fkey` (`siteId`),
  KEY `equipment_tenantId_idx` (`tenantId`),
  CONSTRAINT `equipment_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `equipment_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
INSERT INTO `equipment` VALUES (1,'NVR Salle Serveur','HVAC','Dahua','XYZ-2000','SN-001234','QR-HVAC-01','OPERATIONNEL',1,'2025-06-11 00:00:00.000',NULL,'','2026-03-24 15:08:38.766','2026-04-01 11:50:13.239',NULL);
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fixed_assets`
--

DROP TABLE IF EXISTS `fixed_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fixed_assets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(191) NOT NULL,
  `designation` varchar(191) NOT NULL,
  `category` enum('INFORMATIQUE','MOBILIER','VEHICULE','IMMOBILIER','OUTILLAGE','AUTRE') NOT NULL DEFAULT 'AUTRE',
  `status` enum('EN_SERVICE','EN_MAINTENANCE','CEDE','MISES_AU_REBUT','EN_ATTENTE') NOT NULL DEFAULT 'EN_SERVICE',
  `acquisitionDate` datetime(3) NOT NULL,
  `acquisitionValue` decimal(15,3) NOT NULL,
  `residualValue` decimal(15,3) NOT NULL DEFAULT 0.000,
  `usefulLifeYears` int(11) NOT NULL DEFAULT 5,
  `amortMethod` enum('LINEAIRE','DEGRESSIF') NOT NULL DEFAULT 'LINEAIRE',
  `location` varchar(191) DEFAULT NULL,
  `supplier` varchar(191) DEFAULT NULL,
  `invoiceRef` varchar(191) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `accumulatedDepreciation` decimal(15,3) NOT NULL DEFAULT 0.000,
  `netBookValue` decimal(15,3) NOT NULL,
  `currentYearDepreciation` decimal(15,3) NOT NULL DEFAULT 0.000,
  `siteId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  `custodianId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fixed_assets_code_key` (`code`),
  KEY `fixed_assets_siteId_idx` (`siteId`),
  KEY `fixed_assets_tenantId_idx` (`tenantId`),
  KEY `fixed_assets_custodianId_idx` (`custodianId`),
  CONSTRAINT `fixed_assets_custodianId_fkey` FOREIGN KEY (`custodianId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fixed_assets_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fixed_assets_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fixed_assets`
--

LOCK TABLES `fixed_assets` WRITE;
/*!40000 ALTER TABLE `fixed_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `fixed_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fuel_logs`
--

DROP TABLE IF EXISTS `fuel_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fuel_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vehicleId` int(11) NOT NULL,
  `date` datetime(3) NOT NULL,
  `liters` decimal(8,2) NOT NULL,
  `pricePerLiter` decimal(6,3) NOT NULL,
  `totalCost` decimal(10,3) NOT NULL,
  `mileage` int(11) NOT NULL,
  `station` varchar(191) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fuel_logs_vehicleId_idx` (`vehicleId`),
  KEY `fuel_logs_tenantId_idx` (`tenantId`),
  CONSTRAINT `fuel_logs_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fuel_logs_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fuel_logs`
--

LOCK TABLES `fuel_logs` WRITE;
/*!40000 ALTER TABLE `fuel_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `fuel_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions`
--

DROP TABLE IF EXISTS `interventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `interventions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reference` varchar(191) DEFAULT NULL,
  `type` enum('INCIDENT','MAINTENANCE_PREVENTIVE','MAINTENANCE_CORRECTIVE','URGENCE','INSPECTION') NOT NULL DEFAULT 'INCIDENT',
  `status` enum('DEMANDE','VALIDEE','ASSIGNEE','EN_COURS','RAPPORT_SOUMIS','VALIDATION_CLIENT','CLOTUREE','ANNULEE') NOT NULL DEFAULT 'DEMANDE',
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `equipmentId` int(11) DEFAULT NULL,
  `requestedById` int(11) DEFAULT NULL,
  `report` text DEFAULT NULL,
  `startTime` datetime(3) DEFAULT NULL,
  `endTime` datetime(3) DEFAULT NULL,
  `slaDeadline` datetime(3) DEFAULT NULL,
  `slaBreached` tinyint(1) NOT NULL DEFAULT 0,
  `clientValidated` tinyint(1) NOT NULL DEFAULT 0,
  `signature` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `priority` enum('FAIBLE','NORMALE','HAUTE','URGENTE') NOT NULL DEFAULT 'NORMALE',
  `billable` tinyint(1) NOT NULL DEFAULT 0,
  `invoiceId` int(11) DEFAULT NULL,
  `technicalDetails` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`technicalDetails`)),
  `manualLocation` text DEFAULT NULL,
  `squadId` int(11) DEFAULT NULL,
  `scheduledDate` datetime(3) DEFAULT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `interventions_reference_key` (`reference`),
  KEY `interventions_equipmentId_fkey` (`equipmentId`),
  KEY `interventions_requestedById_fkey` (`requestedById`),
  KEY `interventions_invoiceId_fkey` (`invoiceId`),
  KEY `interventions_siteId_fkey` (`siteId`),
  KEY `interventions_squadId_fkey` (`squadId`),
  KEY `interventions_status_idx` (`status`),
  KEY `interventions_type_idx` (`type`),
  KEY `interventions_priority_idx` (`priority`),
  KEY `interventions_tenantId_idx` (`tenantId`),
  CONSTRAINT `interventions_equipmentId_fkey` FOREIGN KEY (`equipmentId`) REFERENCES `equipment` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `interventions_invoiceId_fkey` FOREIGN KEY (`invoiceId`) REFERENCES `invoices` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `interventions_requestedById_fkey` FOREIGN KEY (`requestedById`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `interventions_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `interventions_squadId_fkey` FOREIGN KEY (`squadId`) REFERENCES `squads` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `interventions_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions`
--

LOCK TABLES `interventions` WRITE;
/*!40000 ALTER TABLE `interventions` DISABLE KEYS */;
/*!40000 ALTER TABLE `interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_items`
--

DROP TABLE IF EXISTS `invoice_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoice_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoiceId` int(11) NOT NULL,
  `description` varchar(191) NOT NULL,
  `quantity` double NOT NULL DEFAULT 1,
  `unitPrice` decimal(10,2) NOT NULL,
  `totalPrice` decimal(10,2) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_items_invoiceId_fkey` (`invoiceId`),
  KEY `invoice_items_tenantId_idx` (`tenantId`),
  CONSTRAINT `invoice_items_invoiceId_fkey` FOREIGN KEY (`invoiceId`) REFERENCES `invoices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `invoice_items_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_items`
--

LOCK TABLES `invoice_items` WRITE;
/*!40000 ALTER TABLE `invoice_items` DISABLE KEYS */;
INSERT INTO `invoice_items` VALUES (1,1,'Alimentation D-Link 48V 2A',1,90.00,90.00,NULL),(2,2,'Test Signature (INT-2026-0002)',1,300.00,300.00,NULL),(3,2,'V├®rification Switch (INT-2026-001)',1,150.00,150.00,NULL),(4,2,'Cable R├®seau Cat 6 FTP',50,2.50,125.00,NULL);
/*!40000 ALTER TABLE `invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `number` varchar(191) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `dueDate` datetime(3) NOT NULL,
  `clientId` int(11) NOT NULL,
  `status` enum('BROUILLON','ENVOYE','PAYE','EN_RETARD','ANNULE') NOT NULL DEFAULT 'BROUILLON',
  `totalHT` decimal(10,2) NOT NULL,
  `tva` decimal(10,2) NOT NULL DEFAULT 19.00,
  `totalTTC` decimal(10,2) NOT NULL,
  `notes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoices_number_key` (`number`),
  KEY `invoices_clientId_fkey` (`clientId`),
  KEY `invoices_tenantId_idx` (`tenantId`),
  CONSTRAINT `invoices_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `companies` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `invoices_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
INSERT INTO `invoices` VALUES (1,'FAC-2026-001','2026-04-01 00:00:00.000','2026-05-01 00:00:00.000',2,'BROUILLON',90.00,19.00,107.10,'','2026-04-01 13:34:12.831','2026-04-01 13:34:12.831',NULL),(2,'FACT-2026-1841','2026-04-16 00:00:00.000','2026-05-16 00:00:00.000',2,'PAYE',575.00,19.00,684.25,'Facturation group├®e pour 2 interventions: INT-2026-0002, INT-2026-001','2026-04-16 14:41:23.414','2026-04-16 14:42:10.270',NULL);
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_schedules`
--

DROP TABLE IF EXISTS `maintenance_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `frequency` enum('MONTHLY','QUARTERLY','SEMI_ANNUALLY','ANNUALLY') NOT NULL DEFAULT 'MONTHLY',
  `startDate` datetime(3) NOT NULL,
  `lastRunDate` datetime(3) DEFAULT NULL,
  `nextDueDate` datetime(3) NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'ACTIVE',
  `siteId` int(11) NOT NULL,
  `equipmentId` int(11) DEFAULT NULL,
  `assignedToId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `billable` tinyint(1) NOT NULL DEFAULT 0,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `maintenance_schedules_siteId_fkey` (`siteId`),
  KEY `maintenance_schedules_equipmentId_fkey` (`equipmentId`),
  KEY `maintenance_schedules_assignedToId_fkey` (`assignedToId`),
  KEY `maintenance_schedules_tenantId_idx` (`tenantId`),
  CONSTRAINT `maintenance_schedules_assignedToId_fkey` FOREIGN KEY (`assignedToId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `maintenance_schedules_equipmentId_fkey` FOREIGN KEY (`equipmentId`) REFERENCES `equipment` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `maintenance_schedules_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `maintenance_schedules_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_schedules`
--

LOCK TABLES `maintenance_schedules` WRITE;
/*!40000 ALTER TABLE `maintenance_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meetings`
--

DROP TABLE IF EXISTS `meetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meetings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `startTime` datetime(3) DEFAULT NULL,
  `endTime` datetime(3) DEFAULT NULL,
  `location` text DEFAULT NULL,
  `videoLink` text DEFAULT NULL,
  `status` enum('PENDING','SCHEDULED','COMPLETED','CANCELLED') NOT NULL DEFAULT 'PENDING',
  `type` enum('INTERNAL','CLIENT') NOT NULL DEFAULT 'INTERNAL',
  `notes` text DEFAULT NULL,
  `conclusion` text DEFAULT NULL,
  `createdById` int(11) NOT NULL,
  `projectId` int(11) DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `clientId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `meetings_createdById_fkey` (`createdById`),
  KEY `meetings_projectId_fkey` (`projectId`),
  KEY `meetings_siteId_fkey` (`siteId`),
  KEY `meetings_clientId_fkey` (`clientId`),
  KEY `meetings_tenantId_idx` (`tenantId`),
  CONSTRAINT `meetings_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `companies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `meetings_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `meetings_projectId_fkey` FOREIGN KEY (`projectId`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `meetings_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `meetings_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meetings`
--

LOCK TABLES `meetings` WRITE;
/*!40000 ALTER TABLE `meetings` DISABLE KEYS */;
INSERT INTO `meetings` VALUES (1,'Test Meeting',NULL,'2026-04-14 16:00:00.000','2026-04-14 17:00:00.000','Bureau',NULL,'SCHEDULED','CLIENT','\n\n[TASK GENERATED: 14]\n\n[TASK GENERATED: 15]',NULL,5,3,NULL,NULL,'2026-04-14 16:00:54.078','2026-04-14 16:50:42.672',NULL);
/*!40000 ALTER TABLE `meetings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `type` enum('TACHE_ASSIGNEE','INTERVENTION_CREEE','RETARD_SLA','VALIDATION_CLIENT','COMMENTAIRE','STATUT_CHANGE','RAPPORT_SOUMIS','MEETING_REQUEST','MEETING_SCHEDULED','MEETING_REMINDER','TASK_REMINDER') NOT NULL,
  `title` varchar(191) NOT NULL,
  `message` text NOT NULL,
  `read` tinyint(1) NOT NULL DEFAULT 0,
  `link` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_userId_fkey` (`userId`),
  KEY `notifications_tenantId_idx` (`tenantId`),
  CONSTRAINT `notifications_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `notifications_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `office_supplies`
--

DROP TABLE IF EXISTS `office_supplies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `office_supplies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `category` varchar(191) DEFAULT NULL,
  `currentStock` int(11) NOT NULL DEFAULT 0,
  `minStock` int(11) NOT NULL DEFAULT 0,
  `unit` varchar(191) NOT NULL DEFAULT 'Unit├®s',
  `supplier` varchar(191) DEFAULT NULL,
  `lastOrderDate` datetime(3) DEFAULT NULL,
  `unitCost` decimal(8,3) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `office_supplies_tenantId_idx` (`tenantId`),
  CONSTRAINT `office_supplies_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `office_supplies`
--

LOCK TABLES `office_supplies` WRITE;
/*!40000 ALTER TABLE `office_supplies` DISABLE KEYS */;
INSERT INTO `office_supplies` VALUES (1,'Papier A4 (Ramette 80g)','Bureautique',48,20,'Ramettes',NULL,'2026-05-30 00:00:00.000',8.500,NULL,'2026-06-12 11:13:34.669','2026-06-12 11:13:34.669',NULL);
/*!40000 ALTER TABLE `office_supplies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phases`
--

DROP TABLE IF EXISTS `phases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phases` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `projectId` int(11) NOT NULL,
  `ownerId` int(11) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `startDate` datetime(3) DEFAULT NULL,
  `endDate` datetime(3) DEFAULT NULL,
  `progress` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `phases_projectId_fkey` (`projectId`),
  KEY `phases_ownerId_fkey` (`ownerId`),
  KEY `phases_tenantId_idx` (`tenantId`),
  CONSTRAINT `phases_ownerId_fkey` FOREIGN KEY (`ownerId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `phases_projectId_fkey` FOREIGN KEY (`projectId`) REFERENCES `projects` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `phases_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phases`
--

LOCK TABLES `phases` WRITE;
/*!40000 ALTER TABLE `phases` DISABLE KEYS */;
INSERT INTO `phases` VALUES (1,'G├®n├®ral',3,NULL,0,NULL,NULL,100,'2026-04-01 15:36:01.925','2026-04-17 11:05:48.460',NULL);
/*!40000 ALTER TABLE `phases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `contractId` int(11) DEFAULT NULL,
  `managerId` int(11) DEFAULT NULL,
  `startDate` datetime(3) DEFAULT NULL,
  `endDate` datetime(3) DEFAULT NULL,
  `progress` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `status` enum('EN_COURS','TERMINE','ARCHIVE') NOT NULL DEFAULT 'EN_COURS',
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `projects_contractId_fkey` (`contractId`),
  KEY `projects_managerId_fkey` (`managerId`),
  KEY `projects_tenantId_idx` (`tenantId`),
  CONSTRAINT `projects_contractId_fkey` FOREIGN KEY (`contractId`) REFERENCES `contracts` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `projects_managerId_fkey` FOREIGN KEY (`managerId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `projects_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
INSERT INTO `projects` VALUES (3,'Point Surveillance Urbaine  ','Installation de Quatre (4) Cameras IP\n­ƒôì Rond-Point Souk Lahad',NULL,1,'2026-03-30 00:00:00.000','2026-04-03 00:00:00.000',100,'2026-03-27 16:52:18.860','2026-04-17 11:06:36.596','ARCHIVE',NULL),(8,'D├®ploiement Fibre Optique',NULL,1,5,NULL,NULL,0,'2026-05-20 11:22:14.648','2026-05-20 11:22:14.648','EN_COURS',NULL);
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_requests`
--

DROP TABLE IF EXISTS `purchase_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `justification` text DEFAULT NULL,
  `estimatedCost` decimal(10,2) DEFAULT NULL,
  `status` enum('SOUMISE','VALIDEE_COMMERCIAL','VALIDEE_DIRECTEUR','EN_COURS_ACHAT','TERMINEE','REJETEE') NOT NULL DEFAULT 'SOUMISE',
  `priority` enum('FAIBLE','NORMALE','HAUTE','URGENTE') NOT NULL DEFAULT 'NORMALE',
  `comment` text DEFAULT NULL,
  `requestedById` int(11) NOT NULL,
  `commercialValidatorId` int(11) DEFAULT NULL,
  `directorValidatorId` int(11) DEFAULT NULL,
  `purchasingAgentId` int(11) DEFAULT NULL,
  `projectId` int(11) DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `attachmentName` text DEFAULT NULL,
  `attachmentUrl` text DEFAULT NULL,
  `actualCost` decimal(10,2) DEFAULT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_requests_requestedById_idx` (`requestedById`),
  KEY `purchase_requests_commercialValidatorId_idx` (`commercialValidatorId`),
  KEY `purchase_requests_directorValidatorId_idx` (`directorValidatorId`),
  KEY `purchase_requests_purchasingAgentId_idx` (`purchasingAgentId`),
  KEY `purchase_requests_projectId_idx` (`projectId`),
  KEY `purchase_requests_siteId_idx` (`siteId`),
  KEY `purchase_requests_tenantId_idx` (`tenantId`),
  CONSTRAINT `purchase_requests_commercialValidatorId_fkey` FOREIGN KEY (`commercialValidatorId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `purchase_requests_directorValidatorId_fkey` FOREIGN KEY (`directorValidatorId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `purchase_requests_projectId_fkey` FOREIGN KEY (`projectId`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `purchase_requests_purchasingAgentId_fkey` FOREIGN KEY (`purchasingAgentId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `purchase_requests_requestedById_fkey` FOREIGN KEY (`requestedById`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `purchase_requests_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `purchase_requests_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_requests`
--

LOCK TABLES `purchase_requests` WRITE;
/*!40000 ALTER TABLE `purchase_requests` DISABLE KEYS */;
INSERT INTO `purchase_requests` VALUES (1,'Test Achat','test description','justif',1250.00,'TERMINEE','NORMALE',NULL,5,5,5,5,NULL,NULL,'2026-05-19 16:25:53.779','2026-05-20 16:01:51.558','Facture_FACT-2026-1841.pdf','/uploads/1779207950357-94756739.pdf',1300.00,NULL),(2,'Test','test','test',1520.00,'TERMINEE','NORMALE',NULL,5,5,5,5,NULL,NULL,'2026-05-22 18:39:45.892','2026-05-22 18:41:02.152',NULL,NULL,1600.00,NULL);
/*!40000 ALTER TABLE `purchase_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_requests`
--

DROP TABLE IF EXISTS `service_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reference` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `category` enum('NETTOYAGE','SECURITE','MAINTENANCE_BATIMENT','IT','TRANSPORT','RESTAURATION','AUTRE') NOT NULL DEFAULT 'AUTRE',
  `status` enum('EN_ATTENTE','EN_COURS','RESOLU','ANNULE') NOT NULL DEFAULT 'EN_ATTENTE',
  `priority` enum('FAIBLE','NORMALE','HAUTE','URGENTE') NOT NULL DEFAULT 'NORMALE',
  `requestedBy` varchar(191) NOT NULL,
  `department` varchar(191) DEFAULT NULL,
  `location` varchar(191) DEFAULT NULL,
  `assignedTo` varchar(191) DEFAULT NULL,
  `estimatedCost` decimal(10,3) DEFAULT NULL,
  `resolvedAt` datetime(3) DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `service_requests_reference_key` (`reference`),
  KEY `service_requests_siteId_idx` (`siteId`),
  KEY `service_requests_tenantId_idx` (`tenantId`),
  CONSTRAINT `service_requests_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `service_requests_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_requests`
--

LOCK TABLES `service_requests` WRITE;
/*!40000 ALTER TABLE `service_requests` DISABLE KEYS */;
INSERT INTO `service_requests` VALUES (1,'MG-2026-0045','Nettoyage urgent','Suite ├á une r├®union client','NETTOYAGE','RESOLU','HAUTE','Responsable Sousse','Direction Commerciale','Salle R201','Propret├® Plus SARL',150.000,'2026-06-12 11:13:34.703',NULL,'2026-06-12 11:13:34.705','2026-06-12 11:13:34.705',NULL);
/*!40000 ALTER TABLE `service_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sites`
--

DROP TABLE IF EXISTS `sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sites` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `address` varchar(191) DEFAULT NULL,
  `city` varchar(191) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `type` enum('BATIMENT','INFRASTRUCTURE','EQUIPEMENT_INDUSTRIEL','RESEAU','AUTRE') NOT NULL DEFAULT 'BATIMENT',
  `contractId` int(11) DEFAULT NULL,
  `managerId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `contactName` varchar(191) DEFAULT NULL,
  `contactPhone` varchar(191) DEFAULT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sites_contractId_fkey` (`contractId`),
  KEY `sites_managerId_fkey` (`managerId`),
  KEY `sites_tenantId_idx` (`tenantId`),
  CONSTRAINT `sites_contractId_fkey` FOREIGN KEY (`contractId`) REFERENCES `contracts` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `sites_managerId_fkey` FOREIGN KEY (`managerId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `sites_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sites`
--

LOCK TABLES `sites` WRITE;
/*!40000 ALTER TABLE `sites` DISABLE KEYS */;
INSERT INTO `sites` VALUES (1,'Commune De Sousse','Beb Bhar','Sousse',NULL,NULL,'BATIMENT',1,1,'2026-03-24 15:08:38.397','2026-04-01 11:07:02.183','Ali Khessibi','12 345 678',NULL),(2,'Waycon M├®diterran├®e ','Av. Yasser Arafat, Imm. Narjess, Sahloul 1','Sousse',35.83547361816747,10.59479325130564,'BATIMENT',NULL,NULL,'2026-04-08 10:20:03.243','2026-04-08 10:21:33.464','Lotfi Zayani','22318445',NULL);
/*!40000 ALTER TABLE `sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `squads`
--

DROP TABLE IF EXISTS `squads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `squads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `color` varchar(191) DEFAULT '#3b82f6',
  `leaderId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `squads_leaderId_fkey` (`leaderId`),
  KEY `squads_tenantId_idx` (`tenantId`),
  CONSTRAINT `squads_leaderId_fkey` FOREIGN KEY (`leaderId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `squads_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `squads`
--

LOCK TABLES `squads` WRITE;
/*!40000 ALTER TABLE `squads` DISABLE KEYS */;
INSERT INTO `squads` VALUES (1,'Equipe 1','','#3b82f6',2,'2026-04-15 09:03:38.458','2026-04-15 09:03:38.458',NULL);
/*!40000 ALTER TABLE `squads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `contactName` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `address` varchar(191) DEFAULT NULL,
  `rating` decimal(3,1) NOT NULL DEFAULT 0.0,
  `contractStatus` enum('ACTIF','EXPIRE','EN_NEGOCIATION') NOT NULL DEFAULT 'EN_NEGOCIATION',
  `contractExpiry` datetime(3) DEFAULT NULL,
  `monthlyBudget` decimal(10,3) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `suppliers_tenantId_idx` (`tenantId`),
  CONSTRAINT `suppliers_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
INSERT INTO `suppliers` VALUES (1,'Propret├® Plus SARL','NETTOYAGE','Riadh Souissi','+216 73 234 567','proprete.plus@gmail.com','Zone Industrielle Sousse',4.5,'ACTIF','2026-12-31 00:00:00.000',2500.000,NULL,'2026-06-12 11:13:34.648','2026-06-12 11:13:34.648',NULL);
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tasks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('BACKLOG','A_FAIRE','EN_COURS','EN_REVISION','TERMINE','ANNULE') NOT NULL DEFAULT 'A_FAIRE',
  `priority` enum('FAIBLE','NORMALE','HAUTE','URGENTE') NOT NULL DEFAULT 'NORMALE',
  `createdById` int(11) DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `phaseId` int(11) DEFAULT NULL,
  `dueDate` datetime(3) DEFAULT NULL,
  `startDate` datetime(3) DEFAULT NULL,
  `estimatedHours` double DEFAULT NULL,
  `actualHours` double DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tasks_createdById_fkey` (`createdById`),
  KEY `tasks_siteId_fkey` (`siteId`),
  KEY `tasks_phaseId_fkey` (`phaseId`),
  KEY `tasks_status_idx` (`status`),
  KEY `tasks_priority_idx` (`priority`),
  KEY `tasks_tenantId_idx` (`tenantId`),
  CONSTRAINT `tasks_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `tasks_phaseId_fkey` FOREIGN KEY (`phaseId`) REFERENCES `phases` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tasks_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `tasks_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_members`
--

DROP TABLE IF EXISTS `tenant_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenant_members` (
  `userId` int(11) NOT NULL,
  `tenantId` int(11) NOT NULL,
  `role` enum('SUPER_ADMIN','ADMIN','DIRECTEUR','CHEF_PROJET','RESPONSABLE_TECHNIQUE','TECHNICIEN','CLIENT','COMMERCIAL','ACHETEUR') NOT NULL DEFAULT 'TECHNICIEN',
  `customRoleId` int(11) DEFAULT NULL,
  PRIMARY KEY (`userId`,`tenantId`),
  KEY `tenant_members_tenantId_idx` (`tenantId`),
  KEY `tenant_members_customRoleId_fkey` (`customRoleId`),
  CONSTRAINT `tenant_members_customRoleId_fkey` FOREIGN KEY (`customRoleId`) REFERENCES `custom_roles` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `tenant_members_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_members_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_members`
--

LOCK TABLES `tenant_members` WRITE;
/*!40000 ALTER TABLE `tenant_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenants`
--

DROP TABLE IF EXISTS `tenants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenants` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `domain` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenants_domain_key` (`domain`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenants`
--

LOCK TABLES `tenants` WRITE;
/*!40000 ALTER TABLE `tenants` DISABLE KEYS */;
INSERT INTO `tenants` VALUES (1,'Waycon M├®diterran├®e',NULL,'2026-06-19 10:00:07.347','2026-06-19 10:00:07.347'),(2,'Waycon - Charguia',NULL,'2026-06-19 10:00:27.903','2026-06-19 10:00:27.903');
/*!40000 ALTER TABLE `tenants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `role` enum('SUPER_ADMIN','ADMIN','DIRECTEUR','CHEF_PROJET','RESPONSABLE_TECHNIQUE','TECHNICIEN','CLIENT','COMMERCIAL','ACHETEUR') NOT NULL DEFAULT 'TECHNICIEN',
  `phone` varchar(191) DEFAULT NULL,
  `avatar` varchar(191) DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `companyId` int(11) DEFAULT NULL,
  `refreshToken` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `customRoleId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_key` (`email`),
  KEY `users_companyId_fkey` (`companyId`),
  KEY `users_customRoleId_fkey` (`customRoleId`),
  CONSTRAINT `users_companyId_fkey` FOREIGN KEY (`companyId`) REFERENCES `companies` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `users_customRoleId_fkey` FOREIGN KEY (`customRoleId`) REFERENCES `custom_roles` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_missions`
--

DROP TABLE IF EXISTS `vehicle_missions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicle_missions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vehicleId` int(11) NOT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) DEFAULT NULL,
  `departure` varchar(191) NOT NULL,
  `destination` varchar(191) NOT NULL,
  `purpose` varchar(191) NOT NULL,
  `kmStart` int(11) NOT NULL,
  `kmEnd` int(11) DEFAULT NULL,
  `status` enum('PLANIFIEE','EN_COURS','TERMINEE','ANNULEE') NOT NULL DEFAULT 'PLANIFIEE',
  `notes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  `driverId` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `vehicle_missions_vehicleId_idx` (`vehicleId`),
  KEY `vehicle_missions_tenantId_idx` (`tenantId`),
  KEY `vehicle_missions_driverId_idx` (`driverId`),
  CONSTRAINT `vehicle_missions_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `vehicle_missions_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `vehicle_missions_vehicleId_fkey` FOREIGN KEY (`vehicleId`) REFERENCES `vehicles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_missions`
--

LOCK TABLES `vehicle_missions` WRITE;
/*!40000 ALTER TABLE `vehicle_missions` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_missions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `immatriculation` varchar(191) NOT NULL,
  `marque` varchar(191) NOT NULL,
  `modele` varchar(191) NOT NULL,
  `annee` int(11) NOT NULL,
  `couleur` varchar(191) DEFAULT NULL,
  `fuelType` enum('DIESEL','ESSENCE','ELECTRIQUE','HYBRIDE','GPL') NOT NULL DEFAULT 'DIESEL',
  `status` enum('DISPONIBLE','EN_MISSION','EN_MAINTENANCE','HORS_SERVICE','RESERVE') NOT NULL DEFAULT 'DISPONIBLE',
  `kilometrage` int(11) NOT NULL DEFAULT 0,
  `prochainControleTech` datetime(3) DEFAULT NULL,
  `prochainVidange` int(11) DEFAULT NULL,
  `assuranceExpiry` datetime(3) DEFAULT NULL,
  `visiteTechnique` datetime(3) DEFAULT NULL,
  `category` varchar(191) DEFAULT NULL,
  `acquisitionDate` datetime(3) DEFAULT NULL,
  `acquisitionCost` decimal(12,3) DEFAULT NULL,
  `fuelBudgetMonthly` decimal(10,3) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `siteId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tenantId` int(11) DEFAULT NULL,
  `driverId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vehicles_immatriculation_key` (`immatriculation`),
  KEY `vehicles_siteId_idx` (`siteId`),
  KEY `vehicles_tenantId_idx` (`tenantId`),
  KEY `vehicles_driverId_idx` (`driverId`),
  CONSTRAINT `vehicles_driverId_fkey` FOREIGN KEY (`driverId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `vehicles_siteId_fkey` FOREIGN KEY (`siteId`) REFERENCES `sites` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `vehicles_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-09 14:22:13
